@import '../../styles/variables';

.all_footer {
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  color: $color-secondary;
}
li {
  list-style: none;
}

.column_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.column_middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.column_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}