@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#root {
  background-color: $color-background;
  width: 70%;
}
