.all_header {
  background-color: #5c8a64;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.title_header {
  color: #e3b23c;
}

.para_header {
  color: #e3b23c;
}
